.DS_Store
.vscode/
data/
doris/
iceberg_warehouse/
paimon_warehouse/
mysql/
clickhouse/
conf/
lib/
pyflink/
pymysql_Doris/
sql/.DS_Store
sql/Doris_study/
sql/create_window/
sql/flink_doris/
sql/flink_paimon/
sql/flink_study/
sql/kafka_flink_clickhouse/
sql/lakehouse/
sql/study_clickhouse/
